
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
}



.first-row {
    
    
    margin-top: 20px;
    border-bottom-width: 6px;
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: solid;
    
    

}

.first-part{

   
    height: 80px;
    

}

.second-part{
    
        height: 180px;
        margin-left: 0px; 
        
}

.blue-box{

    width: 30px;
    height:100%;
    margin-right: 10px;
    background-color: rgb(27, 27, 27);
    color: blue;
    display: block;
    float: left;
    position: relative;

}

.none-box{
    
        width: 30px;
        height:100%;
        margin-right: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        display: block;
        float: left;
    
    }



.profile-picture{

    width: 15vw;
    border-radius: 360px;
    border-width: 6px;
    border-color: blue;
    border-style: solid;
    margin-bottom: 25px;
    margin-left: 15vh;
    margin-right: auto;
    align-self: center;
}

.header1{

    font-family: 'Rozha One', serif;
}

.header2{
    
        font-family: 'Rozha One', serif;
        margin-top: 30px;
        margin-left: 30px;
}

.third-part{
    
       
        height: 180px;
        
    
    }

.black-box{
    
        width: 30px;
        height:100%;
        margin-right: 10px;
        background-color: blue;
        color: rgba(0, 0, 0, 0.945);
        display: block;
        float: left;
    
}

.left-date{

    float: left;
    color: blue;
}

.right-city{

    float: right;
    color: blue;
   
}



.header3 {
    
    margin-top: 5px;

}
.header4 {
    
    

}

.third-part{
    
       
        height: 120px;
   
}


.fourth-part{
    
        pading-left: 30px;
        
   
}

.info{

    color:blue;

}

.left-text{
    margin-top: 10px;
    width: 35%;
    float: left;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    
}

.progress{
    margin-top: 10px;
    float: left;
    width: 50%;
    height: 30px;
   
}

.clear{

    clear: both;

}
